@keyframes opacity {
  0%,
  100% {
    opacity: 0.05;
  }

  50% {
    opacity: 1;
  }
}

page-radio {
  .main-content {
    width: 100%;
  }

  .radio-page-cover {
    &.content {
      background: color($colors, 'pampas');
    }

    .last-songs {
      ion-thumbnail img {
        border: 1px solid $color-thumbnail-border;
      }

      ion-list-header {
        background: color($colors, 'carrara');
        border: 0;
      }

      ion-item {
        background: color($colors, 'westar');
      }

      h3 {
        font-weight: bold !important;
      }
    }
  }
}
