<ion-header>
    <main-header>{{ 'RADIOPAGE.TITLE' | translate }}</main-header>
</ion-header>

<ion-content class="radio-page-cover" no-padding parallax-header>

    <div class="main-content">

        <player #player [configReady]="configReady" [streamingUrl]="streamingUrl"></player>

        <ion-list *ngIf="lastSongs" class="last-songs" no-margin>
            <ion-list-header no-margin no-border>
                <h3 ion-text color="primary" no-margin no-padding text-uppercase>{{ 'RADIOPAGE.LASTTRACKS' | translate }}</h3>
            </ion-list-header>
            <ion-item class="last-song-item" *ngFor="let song of lastSongs" text-wrap>
                <ion-thumbnail item-left>
                    <img src="{{song.cover.jpg}}" srcset="{{song.cover.svg}}" alt="Song cover"/>
                </ion-thumbnail>
                <h4 ion-text color="primary" no-margin no-padding text-uppercase="">{{song.artist}}</h4>
                <p ion-text no-margin no-padding color="primary">{{song.track}}</p>
            </ion-item>
        </ion-list>


    </div>
</ion-content>
