main-header {
  .menu-button {
    left: .6rem;
    position: absolute;
    top: .6rem;
  }

  .logo {
    display: inline-block;
    margin-top: .7rem;
    width: 7.5rem;
  }

  .toolbar-title {
    left: 0;
    padding: 0;
    position: absolute;
  }
}
