main-header {
  .menu-button {
    left: 0.6rem;
    position: absolute;
    top: 0.6rem;
  }

  .logo {
    display: inline-block;
    margin-top: 0.7rem;
    width: 7.5rem;
  }

  .toolbar-title {
    left: 0;
    padding: 0;
    position: absolute;
  }
}
